.features-section .headers {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.features-section .info {
  line-height: 1.5;
  color: #434455;
}

.features-section {
  padding: 120px 141px;
}

.list-one {
  display: flex;
  gap: 24px;
}

.container-li {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 264px;
}
