.features-section .headers {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.features-section .info {
  line-height: 1.5;
  color: #434455;
}

.container-section {
  letter-spacing: 0.02em;
  display: flex;
  width: 1158px;
}

.list-one {
  list-style: none;
  letter-spacing: 0.02em;
  display: flex;
  gap: 24px;
}

.features-section {
  display: flex;
  justify-content: center;
  padding: 120px 0;
}

.container-li {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.container-li h3 {
  margin: 0;
}

.container-li p {
  margin: 0;
}
