.footer-part .footer-info {
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin: 0px;
}
.logo.footer {
  text-transform: uppercase;
  letter-spacing: 0.03em;
  padding: 0;
}

.footer-part {
  background-color: #2e2f42;
  color: #f4f4fd;
  padding: 100px;
}

.container-footer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 264px;
}
