.hero-main {
  color: #ffffff;
  background-color: #2e2f42;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 188px 141px;
}

.hero-main .hero-tittle {
  text-align: center;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin: 0;
  max-width: 496px;
}

.button-first {
  background-color: #4d5ae5;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
}

.button-first:hover {
  background-color: #404bbf;
  cursor: pointer;
}

.button-first:focus {
  background-color: #404bbf;
}

.hero-main .container {
  flex-direction: column;
  gap: 48px;
}
