.hero-section {
  color: #ffffff;
  background-color: #2e2f42;
}

.hero-section .hero-tittle {
  text-align: center;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin: 0;
}

.button-first {
  background-color: #4d5ae5;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.button-first:hover {
  background-color: #404bbf;
  cursor: pointer;
}

.button-first:focus {
  background-color: #404bbf;
}

.hero-section {
  padding: 188px 0;
}

.hero-section {
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: center;
  justify-content: center;
}

.hero-section .hero-tittle {
  max-width: 496px;
}

.button-first {
  height: 56px;
  width: 169px;
}
